@{
    ViewBag.Title = "Error";
}

<body id="error" class="background-image">

    <div class="index-title-position col-lg-6 col-md-6 col-sm-6 pull-right">

        <h1 class="text-center">Oops</h1>
        <hr />
        <h1 class="text-center"><span class="glyphicon glyphicon-thumbs-down"></span>ERROR<span class="glyphicon glyphicon-thumbs-down"></span></h1>
        <hr />
        <h2 class="text-center">Something went wrong there, a message with exactly what has been sent to Graeme, sorry about that!</h2>
    </div>

</body>