@{
    ViewBag.Title = "Home";
}
<br /><br />
<body>
    <div class="index-title-position col-lg-12 col-md-12 col-sm-12 index-desktop">
        <div class="text-left index-text-left">
            <h1>Graeme & Lynn<br />Are Getting Married!</h1>
        </div>
        <br />
        <div class="text-right index-text-right">
            <h1>13th July 2019</h1>
            <h3>Killearn Village Hall</h3>
        </div>
    </div>

    <div class="index-title-position col-lg-6 col-md-6 col-sm-6 index-mobile">

        <h1 class="text-left">Graeme & Lynn</h1>
        <<br />
        <h4 class="text-center">13th July 2019</h4>
    </div>
</body>